annotated-doc
annotated-types
anyio
audioop-lts
certifi
cffi
charset-normalizer
click
colorama
cryptography
fastapi
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httplib2
idna
joblib
numpy
pillow
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pyparsing
python-dotenv
python-multipart
reportlab
requests
scikit-learn
scipy
SpeechRecognition
standard-aifc
standard-chunk
starlette
threadpoolctl
tqdm
typing-inspection
typing-extensions
uritemplate
urllib3
uvicorn
